
# notification
# Refer: https://github.com/thanhnguyennguyen/noti_bot#setup-telegramslack-bot
TELEGRAM_TOKEN=
TELEGRAM_CHAT=

POSITION=
POOL=0x8321c1f53959b14ece4b5400e60aeac59e7b6b8bac446f2f0a89b9e84e68a08a

# for Uniswap V4
TICK_LOWER=-11
TICK_UPPER=-10

